# Beating the NBA Bookmakers Odds

In [1]:
import pandas as pd
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

In [2]:
import warnings
warnings.filterwarnings('ignore')

## Loading the Data and Preprocessing

In [3]:
boxscores = pd.read_csv("data/games.csv", index_col=0)

display(boxscores.head())
display(boxscores.tail())

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
1,240.0,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,...,50.0,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False
2,240.0,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,...,20.0,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False
3,240.0,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,...,28.6,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True
4,240.0,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,...,16.8,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
17767,240.0,240.0,35.0,81.0,0.432,11.0,26.0,0.423,27.0,36.0,...,34.2,33.7,160.0,118.0,OKC,92,0,2019,2018-10-19,True
17768,240.0,240.0,37.0,74.0,0.500,13.0,25.0,0.520,26.0,37.0,...,25.0,30.0,139.0,129.0,ORL,108,1,2017,2016-12-14,True
17769,240.0,240.0,42.0,89.0,0.472,14.0,33.0,0.424,10.0,20.0,...,25.6,29.9,175.0,126.0,LAC,113,0,2017,2016-12-14,False
17770,240.0,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,...,27.7,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True
17771,240.0,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,...,51.5,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False

In [4]:
boxscore = boxscores.sort_values("date")
boxscores = boxscores.reset_index(drop=True)
del boxscores["mp.1"]
del boxscores["mp_opp.1"]
del boxscores["index_opp"]

In [5]:
display(boxscores.head())
display(boxscores.tail())

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
1,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,0.842,...,50.0,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False
2,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,0.739,...,20.0,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False
3,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,0.895,...,28.6,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True
4,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,0.750,...,16.8,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
17767,240.0,35.0,81.0,0.432,11.0,26.0,0.423,27.0,36.0,0.750,...,34.2,33.7,160.0,118.0,OKC,92,0,2019,2018-10-19,True
17768,240.0,37.0,74.0,0.500,13.0,25.0,0.520,26.0,37.0,0.703,...,25.0,30.0,139.0,129.0,ORL,108,1,2017,2016-12-14,True
17769,240.0,42.0,89.0,0.472,14.0,33.0,0.424,10.0,20.0,0.500,...,25.6,29.9,175.0,126.0,LAC,113,0,2017,2016-12-14,False
17770,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,0.867,...,27.7,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True
17771,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,0.824,...,51.5,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False

In [6]:
# Creating the Target Variable to Preiict the Winner of the Game
def add_target(group):
    group["target"] = group["won"].shift(-1)
    return group

boxscores = boxscores.groupby("team", group_keys=False).apply(add_target)

boxscores

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,...,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True,True
1,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,0.842,...,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False,False
2,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,0.739,...,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False,True
3,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,0.895,...,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True,False
4,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,0.750,...,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,35.0,81.0,0.432,11.0,26.0,0.423,27.0,36.0,0.750,...,33.7,160.0,118.0,OKC,92,0,2019,2018-10-19,True,True
17768,240.0,37.0,74.0,0.500,13.0,25.0,0.520,26.0,37.0,0.703,...,30.0,139.0,129.0,ORL,108,1,2017,2016-12-14,True,NaN
17769,240.0,42.0,89.0,0.472,14.0,33.0,0.424,10.0,20.0,0.500,...,29.9,175.0,126.0,LAC,113,0,2017,2016-12-14,False,NaN
17770,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,0.867,...,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True,NaN
17771,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,0.824,...,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False,NaN

In [7]:
display(boxscores[boxscores["team"] == "NYK"].head)
display(boxscores[boxscores["team"] == "LAL"].head)
display(boxscores[boxscores["team"] == "BOS"].head)

<bound method NDFrame.head of           mp    fg   fga    fg%    3p   3pa    3p%    ft   fta    ft%  ...  \
114    240.0  36.0  86.0  0.419   3.0  18.0  0.167  16.0  20.0  0.800  ...
121    240.0  41.0  88.0  0.466   3.0  18.0  0.167  25.0  26.0  0.962  ...
206    240.0  39.0  91.0  0.429   8.0  28.0  0.286  22.0  32.0  0.688  ...
220    240.0  39.0  87.0  0.448  12.0  29.0  0.414  10.0  12.0  0.833  ...
228    240.0  36.0  82.0  0.439  13.0  30.0  0.433   7.0  11.0  0.636  ...
...      ...   ...   ...    ...   ...   ...    ...   ...   ...    ...  ...
17636  240.0  36.0  88.0  0.409   5.0  22.0  0.227  18.0  20.0  0.900  ...
17639  240.0  40.0  82.0  0.488  13.0  32.0  0.406  18.0  24.0  0.750  ...
17701  240.0  40.0  88.0  0.455   7.0  21.0  0.333  19.0  24.0  0.792  ...
17745  240.0  37.0  82.0  0.451   9.0  28.0  0.321  14.0  15.0  0.933  ...
17765  240.0  35.0  97.0  0.361   8.0  29.0  0.276  17.0  21.0  0.810  ...

       usg%_max_opp  ortg_max_opp  drtg_max_opp  team_opp  total_opp  \
114            37.1         144.0         102.0       CHO        109
121            30.8         146.0         116.0       BRK        121
206            37.1         300.0         118.0       PHI        123
220            40.3         218.0         110.0       WAS        101
228            30.7         200.0         105.0       DET        112
...             ...           ...           ...       ...        ...
17636          46.5         153.0         108.0       POR        110
17639          35.0         224.0         124.0       SAS         96
17701          28.6         234.0         114.0       TOR        132
17745          39.7         225.0         113.0       TOR        110
17765          31.8         147.0         105.0       MIL        109

       home_opp  season        date    won  target
114           1    2018  2017-12-18  False   False
121           0    2017  2017-03-16  False   False
206           1    2022  2022-03-02  False   False
220           1    2019  2019-01-17  False   False
228           1    2017  2017-03-11  False   False
...         ...     ...         ...    ...     ...
17636         1    2017  2017-03-23  False    True
17639         0    2022  2022-01-10   True   False
17701         0    2018  2018-03-11  False   False
17745         0    2017  2017-04-09  False   False
17765         0    2019  2018-12-25  False     NaN

[553 rows x 148 columns]>

<bound method NDFrame.head of           mp    fg   fga    fg%    3p   3pa    3p%    ft   fta    ft%  ...  \
37     240.0  34.0  82.0  0.415  11.0  40.0  0.275  17.0  23.0  0.739  ...
44     240.0  39.0  78.0  0.500  10.0  30.0  0.333  28.0  43.0  0.651  ...
55     240.0  32.0  90.0  0.356   4.0  19.0  0.211  13.0  17.0  0.765  ...
58     240.0  43.0  91.0  0.473   8.0  26.0  0.308  16.0  23.0  0.696  ...
74     240.0  43.0  90.0  0.478  10.0  30.0  0.333  14.0  17.0  0.824  ...
...      ...   ...   ...    ...   ...   ...    ...   ...   ...    ...  ...
17547  240.0  31.0  86.0  0.360   6.0  23.0  0.261  22.0  26.0  0.846  ...
17585  240.0  43.0  86.0  0.500  14.0  29.0  0.483  23.0  28.0  0.821  ...
17586  240.0  36.0  82.0  0.439   7.0  23.0  0.304  17.0  23.0  0.739  ...
17592  240.0  31.0  83.0  0.373   3.0  21.0  0.143  12.0  16.0  0.750  ...
17615  240.0  47.0  85.0  0.553  19.0  41.0  0.463  26.0  30.0  0.867  ...

       usg%_max_opp  ortg_max_opp  drtg_max_opp  team_opp  total_opp  \
37             31.1         232.0         108.0       ORL         93
44             35.6         154.0         120.0       POR        108
55             32.1         133.0         102.0       LAC         91
58             30.3         175.0         116.0       SAS        117
74             36.9         147.0         123.0       DAL        115
...             ...           ...           ...       ...        ...
17547          30.6         250.0         107.0       PHO         95
17585          35.3         149.0         125.0       NOP        113
17586          52.5         148.0         111.0       POR        108
17592          31.3         173.0          93.0       GSW        111
17615          31.1         165.0         146.0       POR        106

       home_opp  season        date    won  target
37            0    2021  2021-03-28   True    True
44            1    2020  2020-08-22   True   False
55            0    2016  2016-04-06  False   False
58            1    2022  2022-03-07  False   False
74            1    2021  2021-04-22  False    True
...         ...     ...         ...    ...     ...
17547         0    2016  2016-03-18  False    True
17585         0    2020  2020-01-03   True   False
17586         1    2016  2015-11-28  False   False
17592         1    2016  2015-11-24  False    True
17615         0    2022  2021-12-31   True     NaN

[581 rows x 148 columns]>

<bound method NDFrame.head of           mp    fg   fga    fg%    3p   3pa    3p%    ft   fta    ft%  ...  \
43     240.0  42.0  91.0  0.462  17.0  42.0  0.405  17.0  25.0  0.680  ...
135    240.0  42.0  86.0  0.488  16.0  32.0  0.500  17.0  23.0  0.739  ...
141    240.0  45.0  83.0  0.542  12.0  33.0  0.364  26.0  28.0  0.929  ...
176    240.0  30.0  81.0  0.370   7.0  25.0  0.280  26.0  36.0  0.722  ...
181    240.0  42.0  89.0  0.472  12.0  31.0  0.387  12.0  14.0  0.857  ...
...      ...   ...   ...    ...   ...   ...    ...   ...   ...    ...  ...
17662  240.0  36.0  89.0  0.404  12.0  34.0  0.353  15.0  17.0  0.882  ...
17677  240.0  39.0  93.0  0.419  12.0  39.0  0.308  15.0  19.0  0.789  ...
17690  240.0  28.0  88.0  0.318   5.0  28.0  0.179  11.0  12.0  0.917  ...
17734  265.0  39.0  97.0  0.402  14.0  37.0  0.378  24.0  31.0  0.774  ...
17770  240.0  41.0  85.0  0.482   9.0  26.0  0.346  26.0  30.0  0.867  ...

       usg%_max_opp  ortg_max_opp  drtg_max_opp  team_opp  total_opp  \
43             33.2         157.0         133.0       ORL        103
135            36.4         190.0         143.0       LAC        112
141            31.7         185.0         141.0       IND        123
176            35.6         208.0         109.0       UTA        111
181            31.1         152.0         117.0       ORL        116
...             ...           ...           ...       ...        ...
17662          38.6         170.0         112.0       MIA        115
17677          28.7         159.0         115.0       DEN        114
17690          35.0         171.0          89.0       ATL         89
17734          40.8         141.0         115.0       PHO        109
17770          27.1         150.0         126.0       MIA        106

       home_opp  season        date    won  target
43            0    2018  2017-11-24   True    True
135           0    2021  2021-03-02   True    True
141           0    2022  2022-04-01   True   False
176           1    2016  2016-02-19  False   False
181           0    2019  2019-04-07  False   False
...         ...     ...         ...    ...     ...
17662         1    2019  2019-01-10  False   False
17677         0    2019  2019-03-18  False   False
17690         1    2016  2016-04-19  False    True
17734         1    2019  2018-11-08   True    True
17770         1    2020  2020-09-19   True     NaN

[653 rows x 148 columns]>

In [8]:
boxscores = boxscores.dropna(subset=["target"])
boxscores["target"] = boxscores["target"].astype(int, errors="ignore")

In [9]:
display(boxscores["won"].value_counts())
display(boxscores["target"].value_counts())

True     8872
False    8870
Name: won, dtype: int64

1    8873
0    8869
Name: target, dtype: int64

In [10]:
# Determine the columns that can be trained on
# We will ignore the columns that are not available at the start of the game (that are null)

nulls = pd.isnull(boxscores).sum()
nulls = nulls[nulls > 0]
non_null_columns = boxscores.columns[~boxscores.columns.isin(nulls.index)]

non_null_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [11]:
boxscores = boxscores[non_null_columns].copy()
display(boxscores.head())
display(boxscores.tail())

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,...,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True,1
1,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,0.842,...,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False,0
2,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,0.739,...,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False,1
3,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,0.895,...,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True,0
4,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,0.750,...,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False,1

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
17750,265.0,42.0,97.0,0.433,8.0,29.0,0.276,21.0,31.0,0.677,...,28.6,121.0,109.0,PHO,107,1,2018,2017-11-22,True,1
17751,265.0,37.0,93.0,0.398,7.0,22.0,0.318,26.0,33.0,0.788,...,36.6,133.0,112.0,MIL,113,0,2018,2017-11-22,False,1
17754,240.0,39.0,77.0,0.506,9.0,22.0,0.409,25.0,27.0,0.926,...,30.9,175.0,126.0,BRK,103,1,2017,2017-02-13,True,0
17760,240.0,44.0,80.0,0.550,14.0,35.0,0.400,17.0,18.0,0.944,...,31.0,124.0,126.0,MEM,99,1,2021,2021-02-26,True,1
17767,240.0,35.0,81.0,0.432,11.0,26.0,0.423,27.0,36.0,0.750,...,33.7,160.0,118.0,OKC,92,0,2019,2018-10-19,True,1

In [12]:
# Min-Max Scaler:
# We will use the Min-Max Scaler to all statistical features in the dataset to get them wihtin a range of 0 to 1
# We do this to normalize and reduces the variance of the data while preserving the relationships between the different 
# features as well as the relative order, distribution, and distnace of the datapoints

scaler = MinMaxScaler()

non_stat_columns = ["season", "date", "won", "target", "team", "team_opp"]
stat_columns = boxscores.columns[~boxscores.columns.isin(non_stat_columns)]

boxscores[stat_columns] = scaler.fit_transform(boxscores[stat_columns])

display(boxscores.head())
display(boxscores.tail())

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.454545,0.308824,0.507177,0.206897,0.242424,0.356295,0.302326,0.269841,0.740957,...,0.088575,0.421801,0.400000,DAL,0.326316,1.0,2016,2015-12-09,True,1
1,0.0,0.386364,0.588235,0.217703,0.241379,0.409091,0.268409,0.348837,0.285714,0.815636,...,0.134788,0.298578,0.400000,ATL,0.357895,0.0,2016,2015-12-09,False,0
2,0.0,0.409091,0.367647,0.397129,0.275862,0.227273,0.500000,0.372093,0.349206,0.695449,...,0.112965,0.279621,0.458824,SAS,0.452632,1.0,2018,2017-10-18,False,1
3,0.0,0.500000,0.426471,0.459330,0.275862,0.257576,0.452494,0.372093,0.285714,0.877480,...,0.112965,0.232227,0.482353,MIN,0.368421,0.0,2018,2017-10-18,True,0
4,0.0,0.181818,0.382353,0.107656,0.206897,0.333333,0.274347,0.325581,0.301587,0.708285,...,0.112965,0.322275,0.152941,MEM,0.294737,1.0,2021,2021-04-30,False,1

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
17750,0.25,0.522727,0.544118,0.392344,0.275862,0.378788,0.327791,0.465116,0.476190,0.623104,...,0.083440,0.151659,0.376471,PHO,0.452632,1.0,2018,2017-11-22,True,1
17751,0.25,0.409091,0.485294,0.308612,0.241379,0.272727,0.377672,0.581395,0.507937,0.752625,...,0.186136,0.208531,0.411765,MIL,0.515789,0.0,2018,2017-11-22,False,1
17754,0.00,0.454545,0.250000,0.566986,0.310345,0.272727,0.485748,0.558140,0.412698,0.913652,...,0.112965,0.407583,0.576471,BRK,0.410526,1.0,2017,2017-02-13,True,0
17760,0.00,0.568182,0.294118,0.672249,0.482759,0.469697,0.475059,0.372093,0.269841,0.934656,...,0.114249,0.165877,0.576471,MEM,0.368421,1.0,2021,2021-02-26,True,1
17767,0.00,0.363636,0.308824,0.389952,0.379310,0.333333,0.502375,0.604651,0.555556,0.708285,...,0.148909,0.336493,0.482353,OKC,0.294737,0.0,2019,2018-10-19,True,1

In [13]:
boxscores.groupby(["home"]).apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0.0    0.428137
1.0    0.571976
dtype: float64

In [14]:
# In our model we will be training on data based on an n-game lookback window (rolling average)
# Our objective in doing so is to better model and take into account the team's recent form and performance 
# when predicting the outcome of a game

# We will create a function that will create a rolling average of the data for each team for each game
bs_rolling = boxscores[list(stat_columns) + ["won", "team", "season"]]

def team_averages(group):
    group[stat_columns] = group[stat_columns].rolling(10).mean()
    return group

# We will then apply this function to each team in the dataset
bs_rolling = bs_rolling.groupby(["team", "season"], group_keys=False).apply(team_averages)

In [15]:
bs_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,team,season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,ATL,2016
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,DAL,2016
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,MIN,2018
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,SAS,2018
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,ORL,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17750,0.050,0.445455,0.344118,0.462440,0.244828,0.319697,0.337530,0.400000,0.357143,0.754142,...,0.0822,0.443187,0.116560,0.382464,0.390588,0.414737,0.5,True,MIL,2018
17751,0.025,0.518182,0.426471,0.488995,0.375862,0.368182,0.457720,0.390698,0.365079,0.705718,...,0.0884,0.319392,0.164313,0.413744,0.488235,0.540000,0.4,False,PHO,2018
17754,0.025,0.375000,0.339706,0.383493,0.293103,0.346970,0.365914,0.420930,0.353968,0.785298,...,0.0682,0.375996,0.134403,0.417062,0.440000,0.370526,0.7,True,MEM,2017
17760,0.000,0.529545,0.408824,0.518182,0.475862,0.443939,0.496556,0.390698,0.325397,0.812252,...,0.0774,0.274004,0.168293,0.374408,0.600000,0.447368,0.6,True,LAC,2021
17767,0.025,0.434091,0.413235,0.392344,0.389655,0.378788,0.465083,0.553488,0.461905,0.803734,...,0.0699,0.282914,0.215019,0.408057,0.480000,0.574737,0.4,True,LAC,2019

In [16]:
bs_rolling.columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'blk%_max_opp', 'tov%_max_opp', 'usg%_max_opp', 'ortg_max_opp',
       'drtg_max_opp', 'total_opp', 'home_opp', 'won', 'team', 'season'],
      dtype='object', length=139)

In [17]:
rolling_cols = [f"{col}_10" for col in bs_rolling.columns]
bs_rolling.columns = rolling_cols
boxscores = pd.concat([boxscores, bs_rolling], axis=1)

boxscores = boxscores.dropna()
boxscores = boxscores.reset_index(drop=True)

boxscores

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,team_10,season_10
0,0.00,0.431818,0.264706,0.521531,0.275862,0.272727,0.432304,0.325581,0.301587,0.708285,...,0.0735,0.389937,0.243261,0.434123,0.485882,0.411579,0.6,True,MIL,2018
1,0.00,0.272727,0.235294,0.332536,0.275862,0.363636,0.339667,0.372093,0.349206,0.695449,...,0.0535,0.294444,0.165854,0.337441,0.468235,0.392632,0.5,False,SAS,2018
2,0.00,0.681818,0.529412,0.576555,0.206897,0.333333,0.274347,0.279070,0.206349,0.917153,...,0.0527,0.299790,0.160847,0.342180,0.490588,0.394737,0.5,True,SAS,2018
3,0.00,0.568182,0.544118,0.442584,0.724138,0.606061,0.566508,0.209302,0.174603,0.805134,...,0.0639,0.400105,0.175225,0.462085,0.560000,0.369474,0.6,False,MIA,2022
4,0.00,0.477273,0.455882,0.409091,0.517241,0.590909,0.414489,0.255814,0.222222,0.766628,...,0.1438,0.320335,0.151091,0.432701,0.512941,0.407368,0.7,True,GSW,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15847,0.25,0.522727,0.544118,0.392344,0.275862,0.378788,0.327791,0.465116,0.476190,0.623104,...,0.0822,0.443187,0.116560,0.382464,0.390588,0.414737,0.5,True,MIL,2018
15848,0.25,0.409091,0.485294,0.308612,0.241379,0.272727,0.377672,0.581395,0.507937,0.752625,...,0.0884,0.319392,0.164313,0.413744,0.488235,0.540000,0.4,False,PHO,2018
15849,0.00,0.454545,0.250000,0.566986,0.310345,0.272727,0.485748,0.558140,0.412698,0.913652,...,0.0682,0.375996,0.134403,0.417062,0.440000,0.370526,0.7,True,MEM,2017
15850,0.00,0.568182,0.294118,0.672249,0.482759,0.469697,0.475059,0.372093,0.269841,0.934656,...,0.0774,0.274004,0.168293,0.374408,0.600000,0.447368,0.6,True,LAC,2021
15851,0.00,0.363636,0.308824,0.389952,0.379310,0.333333,0.502375,0.604651,0.555556,0.708285,...,0.0699,0.282914,0.215019,0.408057,0.480000,0.574737,0.4,True,LAC,2019

In [18]:
# We are now shifting columns to determine the next opponent and game date for each team per instance

def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

boxscores["home_next"] = add_col(boxscores, "home")
boxscores["team_opp_next"] = add_col(boxscores, "team_opp")
boxscores["date_next"] = add_col(boxscores, "date")

boxscores

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,team_10,season_10,home_next,team_opp_next,date_next
0,0.00,0.431818,0.264706,0.521531,0.275862,0.272727,0.432304,0.325581,0.301587,0.708285,...,0.434123,0.485882,0.411579,0.6,True,MIL,2018,1.0,IND,2018-01-03
1,0.00,0.272727,0.235294,0.332536,0.275862,0.363636,0.339667,0.372093,0.349206,0.695449,...,0.337441,0.468235,0.392632,0.5,False,SAS,2018,1.0,MIN,2018-03-17
2,0.00,0.681818,0.529412,0.576555,0.206897,0.333333,0.274347,0.279070,0.206349,0.917153,...,0.342180,0.490588,0.394737,0.5,True,SAS,2018,0.0,NYK,2021-05-13
3,0.00,0.568182,0.544118,0.442584,0.724138,0.606061,0.566508,0.209302,0.174603,0.805134,...,0.462085,0.560000,0.369474,0.6,False,MIA,2022,1.0,ATL,2022-04-19
4,0.00,0.477273,0.455882,0.409091,0.517241,0.590909,0.414489,0.255814,0.222222,0.766628,...,0.432701,0.512941,0.407368,0.7,True,GSW,2022,1.0,HOU,2016-04-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15847,0.25,0.522727,0.544118,0.392344,0.275862,0.378788,0.327791,0.465116,0.476190,0.623104,...,0.382464,0.390588,0.414737,0.5,True,MIL,2018,NaN,NaN,NaN
15848,0.25,0.409091,0.485294,0.308612,0.241379,0.272727,0.377672,0.581395,0.507937,0.752625,...,0.413744,0.488235,0.540000,0.4,False,PHO,2018,NaN,NaN,NaN
15849,0.00,0.454545,0.250000,0.566986,0.310345,0.272727,0.485748,0.558140,0.412698,0.913652,...,0.417062,0.440000,0.370526,0.7,True,MEM,2017,NaN,NaN,NaN
15850,0.00,0.568182,0.294118,0.672249,0.482759,0.469697,0.475059,0.372093,0.269841,0.934656,...,0.374408,0.600000,0.447368,0.6,True,LAC,2021,1.0,OKC,2018-10-19
15851,0.00,0.363636,0.308824,0.389952,0.379310,0.333333,0.502375,0.604651,0.555556,0.708285,...,0.408057,0.480000,0.574737,0.4,True,LAC,2019,NaN,NaN,NaN

In [19]:
# We are creating a matchup dataframe by merging the home and opponenet team data for each game

matchup = boxscores.merge(boxscores[rolling_cols + ["team_opp_next", "date_next", "team"]], 
                          left_on=["team", "date_next"], right_on=["team_opp_next", "date_next"])

matchup

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp_10_y,ortg_max_opp_10_y,drtg_max_opp_10_y,total_opp_10_y,home_opp_10_y,won_10_y,team_10_y,season_10_y,team_opp_next_y,team_y
0,0.00,0.477273,0.426471,0.430622,0.379310,0.409091,0.421615,0.069767,0.079365,0.611435,...,0.176380,0.632701,0.523529,0.397895,0.4,False,DET,2016,IND,DET
1,0.00,0.272727,0.308824,0.272727,0.448276,0.439394,0.467933,0.302326,0.365079,0.513419,...,0.149294,0.457820,0.425882,0.421053,0.5,False,IND,2018,DET,IND
2,0.00,0.545455,0.338235,0.595694,0.413793,0.348485,0.527316,0.348837,0.380952,0.579930,...,0.121566,0.390521,0.441176,0.417895,0.5,False,MIL,2018,DET,MIL
3,0.00,0.409091,0.308824,0.449761,0.482759,0.530303,0.426366,0.372093,0.333333,0.735123,...,0.170218,0.408531,0.502353,0.373684,0.8,True,GSW,2022,DAL,GSW
4,0.00,0.477273,0.558824,0.332536,0.379310,0.500000,0.352732,0.093023,0.095238,0.666278,...,0.138126,0.366825,0.371765,0.410526,0.7,True,BRK,2016,PHI,BRK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15491,0.00,0.431818,0.426471,0.377990,0.551724,0.500000,0.513064,0.232558,0.190476,0.820303,...,0.204750,0.427014,0.435294,0.484211,0.5,False,OKC,2017,DEN,OKC
15492,0.25,0.500000,0.485294,0.411483,0.379310,0.469697,0.372922,0.348837,0.285714,0.815636,...,0.113992,0.358768,0.388235,0.402105,0.3,False,MIL,2017,PHO,MIL
15493,0.00,0.568182,0.455882,0.514354,0.275862,0.348485,0.351544,0.441860,0.365079,0.805134,...,0.171245,0.519905,0.507059,0.484211,0.3,True,CHI,2021,MIL,CHI
15494,0.00,0.545455,0.485294,0.461722,0.103448,0.136364,0.274347,0.372093,0.428571,0.541424,...,0.125674,0.403791,0.498824,0.428421,0.9,False,TOR,2022,MIL,TOR
15495,0.00,0.295455,0.220588,0.377990,0.241379,0.212121,0.461995,0.395349,0.428571,0.583431,...,0.170475,0.511374,0.437647,0.551579,0.3,False,PHO,2019,MIL,PHO

In [20]:
matchup[["team_x", "team_opp_next_x", "team_y", "team_opp_next_y", "date_next"]]

      team_x team_opp_next_x team_y team_opp_next_y   date_next
0        IND             DET    DET             IND  2017-11-08
1        DET             IND    IND             DET  2017-11-08
2        DET             MIL    MIL             DET  2017-12-06
3        DAL             GSW    GSW             DAL  2022-01-05
4        PHI             BRK    BRK             PHI  2016-03-15
...      ...             ...    ...             ...         ...
15491    DEN             OKC    OKC             DEN  2017-11-09
15492    PHO             MIL    MIL             PHO  2017-11-22
15493    MIL             CHI    CHI             MIL  2016-01-12
15494    MIL             TOR    TOR             MIL  2017-04-27
15495    MIL             PHO    PHO             MIL  2017-11-22

[15496 rows x 5 columns]

In [21]:
non_stat_columns = list(matchup.columns[matchup.dtypes == "object"]) + non_stat_columns

non_stat_columns

['team_x',
 'team_opp',
 'date',
 'team_10_x',
 'team_opp_next_x',
 'date_next',
 'team_10_y',
 'team_opp_next_y',
 'team_y',
 'season',
 'date',
 'won',
 'target',
 'team',
 'team_opp']

In [22]:
# We are now splitting our matchup data into the training and target matrices
# We will be removing the non-statistical columns from the training matrix and using this as X
# We will be using the target column as y

X_columns = matchup.columns[~matchup.columns.isin(non_stat_columns)]
X = matchup[X_columns]
y = matchup["target"]

In [23]:
X

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_10_y,blk%_max_opp_10_y,tov%_max_opp_10_y,usg%_max_opp_10_y,ortg_max_opp_10_y,drtg_max_opp_10_y,total_opp_10_y,home_opp_10_y,won_10_y,season_10_y
0,0.00,0.477273,0.426471,0.430622,0.379310,0.409091,0.421615,0.069767,0.079365,0.611435,...,0.0658,0.0801,0.314256,0.176380,0.632701,0.523529,0.397895,0.4,False,2016
1,0.00,0.272727,0.308824,0.272727,0.448276,0.439394,0.467933,0.302326,0.365079,0.513419,...,0.0591,0.1264,0.406709,0.149294,0.457820,0.425882,0.421053,0.5,False,2018
2,0.00,0.545455,0.338235,0.595694,0.413793,0.348485,0.527316,0.348837,0.380952,0.579930,...,0.0435,0.0727,0.331237,0.121566,0.390521,0.441176,0.417895,0.5,False,2018
3,0.00,0.409091,0.308824,0.449761,0.482759,0.530303,0.426366,0.372093,0.333333,0.735123,...,0.0510,0.0871,0.246436,0.170218,0.408531,0.502353,0.373684,0.8,True,2022
4,0.00,0.477273,0.558824,0.332536,0.379310,0.500000,0.352732,0.093023,0.095238,0.666278,...,0.0828,0.0943,0.353145,0.138126,0.366825,0.371765,0.410526,0.7,True,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15491,0.00,0.431818,0.426471,0.377990,0.551724,0.500000,0.513064,0.232558,0.190476,0.820303,...,0.0740,0.0888,0.412264,0.204750,0.427014,0.435294,0.484211,0.5,False,2017
15492,0.25,0.500000,0.485294,0.411483,0.379310,0.469697,0.372922,0.348837,0.285714,0.815636,...,0.0495,0.0805,0.375052,0.113992,0.358768,0.388235,0.402105,0.3,False,2017
15493,0.00,0.568182,0.455882,0.514354,0.275862,0.348485,0.351544,0.441860,0.365079,0.805134,...,0.0672,0.1178,0.281551,0.171245,0.519905,0.507059,0.484211,0.3,True,2021
15494,0.00,0.545455,0.485294,0.461722,0.103448,0.136364,0.274347,0.372093,0.428571,0.541424,...,0.0491,0.0915,0.329140,0.125674,0.403791,0.498824,0.428421,0.9,False,2022
15495,0.00,0.295455,0.220588,0.377990,0.241379,0.212121,0.461995,0.395349,0.428571,0.583431,...,0.0604,0.0855,0.431027,0.170475,0.511374,0.437647,0.551579,0.3,False,2019

In [24]:
y

0        1
1        1
2        1
3        0
4        0
        ..
15491    1
15492    0
15493    1
15494    0
15495    1
Name: target, Length: 15496, dtype: int32

In [25]:
y.value_counts()

1    7751
0    7745
Name: target, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

# X['won_10_y'] = X['won_10_y'].astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, y_train.shape

((12396, 413), (12396,))

## Building the LSTM Model

In [27]:
import torch
import torch.nn as nn
import torch.optim as optim

In [28]:
class LSTMClassifier(nn.Module):
    def __init__(self, input_dim, hidden_dim, layer_dim, output_dim, device):
        super(LSTMClassifier, self).__init__()
        self.hidden_dim = hidden_dim
        self.layer_dim = layer_dim
        self.lstm = nn.LSTM(input_dim, hidden_dim, layer_dim, batch_first=True)
        self.fc = nn.Linear(hidden_dim, output_dim)
        self.device = device

    def forward(self, x):
        h0 = torch.zeros(self.layer_dim, x.size(0), self.hidden_dim).requires_grad_().to(self.device)
        c0 = torch.zeros(self.layer_dim, x.size(0), self.hidden_dim).requires_grad_().to(self.device)
        out, (hn, cn) = self.lstm(x, (h0.detach(), c0.detach()))
        print(out.shape)
        out = self.fc(out[:, -1, :]) 
        print(out.shape)

        return out

In [29]:
input_dim = 413    # Number of input features
hidden_dim = 100   # Example value, you might need to experiment with this
layer_dim = 2      # Example value, can be 1, 2, or more
output_dim = 2     # For binary classification

In [30]:
import numpy as np


X_train = np.array(X_train.values, dtype = np.float32)
y_train = np.array(y_train.values, dtype = np.float32)

In [31]:
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from sklearn.metrics import precision_score, recall_score, f1_score


X_tensor = torch.tensor(X_train)
print(X_tensor.dtype)
y_tensor = torch.tensor(y_train)
# Create DataLoader for batch processing
batch_size = 32
dataset = TensorDataset(X_tensor, y_tensor)
dataloader = DataLoader(dataset, batch_size=batch_size, shuffle=True)


# Check for GPU availability and set the device
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(f"Using device: {device}")

# Instantiate the model and move it to the device (GPU or CPU)
model = LSTMClassifier(input_dim, hidden_dim, layer_dim, output_dim, device).to(device)
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

num_epochs=25

# Function to calculate accuracy
def calculate_accuracy(y_true, y_pred):
    predicted = torch.argmax(y_pred, dim=1)
    correct = (predicted == y_true).float().sum()
    return correct / y_true.shape[0]

# Training loop
num_epochs = 100
best_accuracy = 0.0

for epoch in range(num_epochs):
    total_loss = 0
    total_accuracy = 0
    all_predictions = []
    all_targets = []
    for batch, (inputs, targets) in enumerate(dataloader):
        # Move data to device
        inputs, targets = inputs.unsqueeze(1).to(device).float(), targets.to(device).long()

        #inputs.shape should be [32, 1, 413]

        # Forward pass
        outputs = model(inputs)
        loss = criterion(outputs, targets)

        # Backward pass and optimization
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        # Calculate batch loss and accuracy
        total_loss += loss.item()
        accuracy = calculate_accuracy(targets, outputs)
        total_accuracy += accuracy.item()

        # Collect predictions and true labels
        _, predicted = torch.max(outputs.data, 1)
        all_predictions.extend(predicted.cpu().numpy())
        all_targets.extend(targets.cpu().numpy())

    # Calculate metrics
    average_loss = total_loss / len(dataloader)
    average_accuracy = total_accuracy / len(dataloader)
    precision = precision_score(all_targets, all_predictions)
    recall = recall_score(all_targets, all_predictions)
    f1 = f1_score(all_targets, all_predictions)

    # Print metrics
    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {average_loss:.4f}, Accuracy: {average_accuracy:.4f}, Precision: {precision:.4f}, Recall: {recall:.4f}, F1 Score: {f1:.4f}")

    # Save the model if it has the best accuracy so far
    if average_accuracy > best_accuracy:
        best_accuracy = average_accuracy
        torch.save(model.state_dict(), 'best_lstm_classifier.pth')
        print(f"Saved model with accuracy: {best_accuracy:.4f}")

# Save the model after training
torch.save(model.state_dict(), 'lstm_classifier.pth')

torch.float32
Using device: cuda
Epoch 1/100, Loss: 0.6938, Accuracy: 0.5001, Precision: 0.5035, Recall: 0.4805, F1 Score: 0.4918
Saved model with accuracy: 0.5001
Epoch 2/100, Loss: 0.6934, Accuracy: 0.5043, Precision: 0.5057, Recall: 0.6279, F1 Score: 0.5602
Saved model with accuracy: 0.5043
Epoch 3/100, Loss: 0.6934, Accuracy: 0.4985, Precision: 0.5016, Recall: 0.5482, F1 Score: 0.5239
Epoch 4/100, Loss: 0.6932, Accuracy: 0.5033, Precision: 0.5056, Recall: 0.5915, F1 Score: 0.5452
Epoch 5/100, Loss: 0.6933, Accuracy: 0.4967, Precision: 0.5000, Recall: 0.6926, F1 Score: 0.5808
Epoch 6/100, Loss: 0.6933, Accuracy: 0.4985, Precision: 0.5016, Recall: 0.5147, F1 Score: 0.5080
Epoch 7/100, Loss: 0.6932, Accuracy: 0.4941, Precision: 0.4982, Recall: 0.6987, F1 Score: 0.5816
Epoch 8/100, Loss: 0.6932, Accuracy: 0.5001, Precision: 0.5017, Recall: 0.8907, F1 Score: 0.6419
Epoch 9/100, Loss: 0.6933, Accuracy: 0.4980, Precision: 0.5009, Recall: 0.6126, F1 Score: 0.5512
Epoch 10/100, Loss: 0.6933, Accuracy: 0.5022, Precision: 0.5033, Recall: 0.8427, F1 Score: 0.6302
Epoch 11/100, Loss: 0.6932, Accuracy: 0.4977, Precision: 0.5007, Recall: 0.7048, F1 Score: 0.5855
Epoch 12/100, Loss: 0.6932, Accuracy: 0.5006, Precision: 0.5025, Recall: 0.7693, F1 Score: 0.6079
Epoch 13/100, Loss: 0.6932, Accuracy: 0.5024, Precision: 0.5050, Recall: 0.5814, F1 Score: 0.5405
Epoch 14/100, Loss: 0.6932, Accuracy: 0.4994, Precision: 0.5017, Recall: 0.7475, F1 Score: 0.6004
Epoch 15/100, Loss: 0.6932, Accuracy: 0.5007, Precision: 0.5021, Recall: 0.9232, F1 Score: 0.6504
Epoch 16/100, Loss: 0.6932, Accuracy: 0.4999, Precision: 0.5018, Recall: 0.8685, F1 Score: 0.6361
Epoch 17/100, Loss: 0.6932, Accuracy: 0.4976, Precision: 0.5006, Recall: 0.8741, F1 Score: 0.6366
Epoch 18/100, Loss: 0.6932, Accuracy: 0.4979, Precision: 0.5010, Recall: 0.7156, F1 Score: 0.5894
Epoch 19/100, Loss: 0.6932, Accuracy: 0.5015, Precision: 0.5031, Recall: 0.7082, F1 Score: 0.5883
Epoch 20/100, Loss: 0.6932, Accuracy: 0.5018, Precision: 0.5027, Recall: 0.8676, F1 Score: 0.6366
Epoch 21/100, Loss: 0.6932, Accuracy: 0.5005, Precision: 0.5020, Recall: 0.8525, F1 Score: 0.6319
Epoch 22/100, Loss: 0.6932, Accuracy: 0.4981, Precision: 0.5009, Recall: 0.7154, F1 Score: 0.5892
Epoch 23/100, Loss: 0.6932, Accuracy: 0.4995, Precision: 0.5026, Recall: 0.5786, F1 Score: 0.5380
Epoch 24/100, Loss: 0.6932, Accuracy: 0.4997, Precision: 0.5019, Recall: 0.7993, F1 Score: 0.6166
Epoch 25/100, Loss: 0.6932, Accuracy: 0.5029, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 26/100, Loss: 0.6932, Accuracy: 0.5012, Precision: 0.5022, Recall: 0.9750, F1 Score: 0.6630
Epoch 27/100, Loss: 0.6932, Accuracy: 0.5024, Precision: 0.5031, Recall: 0.9473, F1 Score: 0.6571
Epoch 28/100, Loss: 0.6932, Accuracy: 0.5017, Precision: 0.5045, Recall: 0.5394, F1 Score: 0.5213
Epoch 29/100, Loss: 0.6932, Accuracy: 0.5030, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 30/100, Loss: 0.6932, Accuracy: 0.4999, Precision: 0.5018, Recall: 0.9844, F1 Score: 0.6648
Epoch 31/100, Loss: 0.6932, Accuracy: 0.4996, Precision: 0.5017, Recall: 0.7964, F1 Score: 0.6156
Epoch 32/100, Loss: 0.6932, Accuracy: 0.5021, Precision: 0.5032, Recall: 0.8090, F1 Score: 0.6205
Epoch 33/100, Loss: 0.6932, Accuracy: 0.4964, Precision: 0.4996, Recall: 0.6752, F1 Score: 0.5743
Epoch 34/100, Loss: 0.6932, Accuracy: 0.5017, Precision: 0.5031, Recall: 0.7856, F1 Score: 0.6134
Epoch 35/100, Loss: 0.6932, Accuracy: 0.5009, Precision: 0.5021, Recall: 0.9052, F1 Score: 0.6460
Epoch 36/100, Loss: 0.6932, Accuracy: 0.4977, Precision: 0.5005, Recall: 0.9014, F1 Score: 0.6437
Epoch 37/100, Loss: 0.6932, Accuracy: 0.5021, Precision: 0.5034, Recall: 0.7956, F1 Score: 0.6167
Epoch 38/100, Loss: 0.6932, Accuracy: 0.5033, Precision: 0.5061, Recall: 0.5411, F1 Score: 0.5231
Epoch 39/100, Loss: 0.6932, Accuracy: 0.5027, Precision: 0.5033, Recall: 0.9141, F1 Score: 0.6491
Epoch 40/100, Loss: 0.6932, Accuracy: 0.4954, Precision: 0.4989, Recall: 0.8381, F1 Score: 0.6255
Epoch 41/100, Loss: 0.6932, Accuracy: 0.5030, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 42/100, Loss: 0.6932, Accuracy: 0.4973, Precision: 0.5004, Recall: 0.6197, F1 Score: 0.5537
Epoch 43/100, Loss: 0.6932, Accuracy: 0.4975, Precision: 0.5003, Recall: 0.8788, F1 Score: 0.6376
Epoch 44/100, Loss: 0.6932, Accuracy: 0.5037, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 45/100, Loss: 0.6932, Accuracy: 0.4977, Precision: 0.5005, Recall: 0.9408, F1 Score: 0.6534
Epoch 46/100, Loss: 0.6932, Accuracy: 0.5011, Precision: 0.5029, Recall: 0.7827, F1 Score: 0.6124
Epoch 47/100, Loss: 0.6932, Accuracy: 0.4991, Precision: 0.5013, Recall: 0.8935, F1 Score: 0.6423
Epoch 48/100, Loss: 0.6932, Accuracy: 0.4978, Precision: 0.5004, Recall: 0.9227, F1 Score: 0.6489
Epoch 49/100, Loss: 0.6932, Accuracy: 0.5033, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 50/100, Loss: 0.6932, Accuracy: 0.5029, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 51/100, Loss: 0.6932, Accuracy: 0.4994, Precision: 0.5015, Recall: 0.7446, F1 Score: 0.5993
Epoch 52/100, Loss: 0.6932, Accuracy: 0.4962, Precision: 0.4995, Recall: 0.7852, F1 Score: 0.6106
Epoch 53/100, Loss: 0.6932, Accuracy: 0.4944, Precision: 0.4986, Recall: 0.8860, F1 Score: 0.6381
Epoch 54/100, Loss: 0.6932, Accuracy: 0.4983, Precision: 0.5007, Recall: 0.7768, F1 Score: 0.6089
Epoch 55/100, Loss: 0.6932, Accuracy: 0.5021, Precision: 0.5034, Recall: 0.7138, F1 Score: 0.5904
Epoch 56/100, Loss: 0.6932, Accuracy: 0.5009, Precision: 0.5031, Recall: 0.6954, F1 Score: 0.5838
Epoch 57/100, Loss: 0.6932, Accuracy: 0.5035, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 58/100, Loss: 0.6932, Accuracy: 0.5008, Precision: 0.5022, Recall: 0.9234, F1 Score: 0.6506
Epoch 59/100, Loss: 0.6932, Accuracy: 0.5009, Precision: 0.5022, Recall: 0.9003, F1 Score: 0.6448
Epoch 60/100, Loss: 0.6931, Accuracy: 0.5050, Precision: 0.5067, Recall: 0.5911, F1 Score: 0.5457
Saved model with accuracy: 0.5050
Epoch 61/100, Loss: 0.6932, Accuracy: 0.5014, Precision: 0.5022, Recall: 0.9363, F1 Score: 0.6538
Epoch 62/100, Loss: 0.6932, Accuracy: 0.5010, Precision: 0.5024, Recall: 0.8876, F1 Score: 0.6416
Epoch 63/100, Loss: 0.6932, Accuracy: 0.4937, Precision: 0.4976, Recall: 0.7363, F1 Score: 0.5939
Epoch 64/100, Loss: 0.6932, Accuracy: 0.5031, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 65/100, Loss: 0.6932, Accuracy: 0.5016, Precision: 0.5037, Recall: 0.6057, F1 Score: 0.5500
Epoch 66/100, Loss: 0.6932, Accuracy: 0.5029, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 67/100, Loss: 0.6932, Accuracy: 0.4987, Precision: 0.5012, Recall: 0.8727, F1 Score: 0.6367
Epoch 68/100, Loss: 0.6932, Accuracy: 0.4989, Precision: 0.5023, Recall: 0.5318, F1 Score: 0.5166
Epoch 69/100, Loss: 0.6932, Accuracy: 0.4979, Precision: 0.5010, Recall: 0.6925, F1 Score: 0.5814
Epoch 70/100, Loss: 0.6932, Accuracy: 0.5011, Precision: 0.5021, Recall: 0.9129, F1 Score: 0.6479
Epoch 71/100, Loss: 0.6932, Accuracy: 0.5012, Precision: 0.5026, Recall: 0.9421, F1 Score: 0.6555
Epoch 72/100, Loss: 0.6931, Accuracy: 0.5012, Precision: 0.5023, Recall: 0.9768, F1 Score: 0.6634
Epoch 73/100, Loss: 0.6932, Accuracy: 0.4979, Precision: 0.5009, Recall: 0.8259, F1 Score: 0.6236
Epoch 74/100, Loss: 0.6932, Accuracy: 0.5001, Precision: 0.5017, Recall: 0.9533, F1 Score: 0.6574
Epoch 75/100, Loss: 0.6932, Accuracy: 0.5046, Precision: 0.5068, Recall: 0.5652, F1 Score: 0.5344
Epoch 76/100, Loss: 0.6932, Accuracy: 0.5010, Precision: 0.5026, Recall: 0.7848, F1 Score: 0.6128
Epoch 77/100, Loss: 0.6932, Accuracy: 0.4977, Precision: 0.5005, Recall: 0.7611, F1 Score: 0.6039
Epoch 78/100, Loss: 0.6933, Accuracy: 0.4987, Precision: 0.5009, Recall: 0.7324, F1 Score: 0.5949
Epoch 79/100, Loss: 0.6932, Accuracy: 0.4966, Precision: 0.4994, Recall: 0.6466, F1 Score: 0.5635
Epoch 80/100, Loss: 0.6932, Accuracy: 0.5029, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 81/100, Loss: 0.6932, Accuracy: 0.4971, Precision: 0.5004, Recall: 0.9149, F1 Score: 0.6469
Epoch 82/100, Loss: 0.6932, Accuracy: 0.5006, Precision: 0.5026, Recall: 0.6611, F1 Score: 0.5710
Epoch 83/100, Loss: 0.6931, Accuracy: 0.5001, Precision: 0.5021, Recall: 0.8217, F1 Score: 0.6233
Epoch 84/100, Loss: 0.6932, Accuracy: 0.4992, Precision: 0.5014, Recall: 0.8103, F1 Score: 0.6195
Epoch 85/100, Loss: 0.6932, Accuracy: 0.5034, Precision: 0.5045, Recall: 0.6989, F1 Score: 0.5860
Epoch 86/100, Loss: 0.6932, Accuracy: 0.4957, Precision: 0.4989, Recall: 0.5103, F1 Score: 0.5046
Epoch 87/100, Loss: 0.6932, Accuracy: 0.4959, Precision: 0.4994, Recall: 0.8337, F1 Score: 0.6247
Epoch 88/100, Loss: 0.6932, Accuracy: 0.4992, Precision: 0.5016, Recall: 0.6392, F1 Score: 0.5621
Epoch 89/100, Loss: 0.6931, Accuracy: 0.5067, Precision: 0.5053, Recall: 0.9256, F1 Score: 0.6538
Saved model with accuracy: 0.5067
Epoch 90/100, Loss: 0.6932, Accuracy: 0.4911, Precision: 0.4955, Recall: 0.6162, F1 Score: 0.5493
Epoch 91/100, Loss: 0.6932, Accuracy: 0.5007, Precision: 0.5020, Recall: 0.9076, F1 Score: 0.6465
Epoch 92/100, Loss: 0.6932, Accuracy: 0.4989, Precision: 0.5011, Recall: 0.8648, F1 Score: 0.6346
Epoch 93/100, Loss: 0.6932, Accuracy: 0.4994, Precision: 0.5012, Recall: 0.9498, F1 Score: 0.6561
Epoch 94/100, Loss: 0.6932, Accuracy: 0.4991, Precision: 0.5017, Recall: 0.8684, F1 Score: 0.6359
Epoch 95/100, Loss: 0.6932, Accuracy: 0.5046, Precision: 0.5040, Recall: 0.9594, F1 Score: 0.6609
Epoch 96/100, Loss: 0.6932, Accuracy: 0.5031, Precision: 0.5059, Recall: 0.4916, F1 Score: 0.4987
Epoch 97/100, Loss: 0.6932, Accuracy: 0.5031, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695
Epoch 98/100, Loss: 0.6932, Accuracy: 0.4972, Precision: 0.5001, Recall: 0.8297, F1 Score: 0.6241
Epoch 99/100, Loss: 0.6932, Accuracy: 0.4988, Precision: 0.5011, Recall: 0.8520, F1 Score: 0.6311
Epoch 100/100, Loss: 0.6932, Accuracy: 0.5033, Precision: 0.5031, Recall: 1.0000, F1 Score: 0.6695

In [43]:
from sklearn.metrics import classification_report

# Convert your test data to a type that TensorFlow supports
X_test = torch.tensor(np.array(X_test, dtype = np.float32))
y_test = torch.tensor(np.array(y_test, dtype = np.float32))
print(X_test.shape, y_test.shape)

test_dataset = TensorDataset(X_test, y_test)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=True)

model.eval()
with torch.no_grad():
    correct = 0
    total = 0
    for inputs, labels in test_loader:
        inputs, targets = inputs.unsqueeze(1).to(device).float(), targets.to(device).long()
        outputs = model(inputs)
        _, predicted = torch.max(outputs.data, 1)
        total += labels.size(0)
        correct += (predicted == targets).sum().item()


accuracy = accuracy_score(y_test, y_pred_classes)
print("Accuracy:", accuracy)

print(classification_report(y_test, y_pred_classes))

torch.Size([3100, 413]) torch.Size([3100])

RuntimeError: The size of tensor a (32) must match the size of tensor b (12) at non-singleton dimension 0

# Load in and Simulate Model with Betting Odds

In [ ]:
boxscores = pd.read_csv("games_2023_sorted.csv", index_col=0)
# games_1023.dropna(subset=[games_1023.columns[0]], inplace=True)
boxscores

,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0.0,240.0,41.0,90.0,0.456,10.0,29.0,0.345,15.0,20.0,0.750,...,25.0,62.4,200.0,123.0,DEN,119.0,1.0,2024.0,10/24/23,False
1.0,240.0,42.0,95.0,0.442,11.0,33.0,0.333,13.0,17.0,0.765,...,23.7,31.5,225.0,118.0,GSW,104.0,1.0,2024.0,10/24/23,True
4.0,240.0,39.0,94.0,0.415,12.0,42.0,0.286,14.0,18.0,0.778,...,34.7,26.9,242.0,116.0,OKC,124.0,0.0,2024.0,10/25/23,False
5.0,240.0,42.0,87.0,0.483,9.0,34.0,0.265,23.0,26.0,0.885,...,33.3,32.2,300.0,133.0,HOU,86.0,0.0,2024.0,10/25/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,240.0,41.0,91.0,0.451,9.0,28.0,0.321,23.0,31.0,0.742,...,25.0,31.1,204.0,123.0,SAC,130.0,0.0,2024.0,10/25/23,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.0,240.0,46.0,89.0,0.517,11.0,35.0,0.314,16.0,22.0,0.727,...,20.8,37.1,177.0,118.0,DAL,126.0,0.0,2024.0,10/25/23,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.0,240.0,42.0,84.0,0.500,9.0,27.0,0.333,20.0,26.0,0.769,...,50.0,26.6,200.0,125.0,CLE,114.0,0.0,2024.0,10/25/23,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.0,240.0,36.0,90.0,0.400,14.0,35.0,0.400,11.0,16.0,0.688,...,25.4,32.1,117.0,103.0,MIN,94.0,0.0,2024.0,10/25/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,240.0,38.0,91.0,0.418,12.0,43.0,0.279,16.0,20.0,0.800,...,50.0,30.2,178.0,111.0,NOP,111.0,0.0,2024.0,10/25/23,False
28.0,240.0,36.0,84.0,0.429,5.0,29.0,0.172,23.0,29.0,0.793,...,50.0,45.8,163.0,105.0,PHO,95.0,0.0,2024.0,10/26/23,True
29.0,240.0,41.0,80.0,0.513,16.0,35.0,0.457,19.0,28.0,0.679,...,33.3,39.4,156.0,121.0,MIL,118.0,1.0,2024.0,10/26/23,False
32.0,240.0,35.0,88.0,0.398,9.0,32.0,0.281,18.0,21.0,0.857,...,50.0,29.7,171.0,113.0,ORL,102.0,0.0,2024.0,10/27/23,False
33.0,265.0,37.0,99.0,0.374,8.0,39.0,0.205,22.0,28.0,0.786,...,37.5,27.0,140.0,105.0,TOR,103.0,0.0,2024.0,10/27/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35.0,240.0,37.0,85.0,0.435,10.0,33.0,0.303,20.0,24.0,0.833,...,35.1,31.2,134.0,113.0,DEN,108.0,0.0,2024.0,10/27/23,False
36.0,240.0,41.0,88.0,0.466,14.0,37.0,0.378,12.0,18.0,0.667,...,34.0,33.9,156.0,113.0,MEM,104.0,1.0,2024.0,10/27/23,True
37.0,265.0,52.0,100.0,0.520,8.0,32.0,0.250,10.0,20.0,0.500,...,30.0,36.5,223.0,119.0,SAS,126.0,1.0,2024.0,10/27/23,False
38.0,240.0,38.0,92.0,0.413,12.0,45.0,0.267,17.0,23.0,0.739,...,100.0,37.5,186.0,110.0,OKC,108.0,0.0,2024.0,10/27/23,False
39.0,240.0,33.0,88.0,0.375,7.0,28.0,0.250,26.0,34.0,0.765,...,50.0,33.5,171.0,98.0,DET,111.0,0.0,2024.0,10/27/23,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54.0,240.0,40.0,87.0,0.460,9.0,33.0,0.273,7.0,16.0,0.438,...,33.5,29.3,284.0,101.0,NYK,87.0,0.0,2024.0,10/28/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56.0,240.0,35.0,87.0,0.402,12.0,38.0,0.316,8.0,14.0,0.571,...,50.0,48.4,163.0,103.0,MIN,106.0,1.0,2024.0,10/28/23,False
57.0,240.0,38.0,87.0,0.437,17.0,32.0,0.531,14.0,19.0,0.737,...,50.0,32.1,159.0,127.0,PHI,114.0,0.0,2024.0,10/28/23,False
58.0,240.0,39.0,93.0,0.419,11.0,28.0,0.393,13.0,16.0,0.813,...,33.3,31.0,181.0,120.0,DET,118.0,1.0,2024.0,10/28/23,False
59.0,240.0,43.0,99.0,0.434,12.0,31.0,0.387,15.0,24.0,0.625,...,16.7,29.5,175.0,127.0,IND,125.0,0.0,2024.0,10/28/23,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68.0,265.0,49.0,104.0,0.471,17.0,48.0,0.354,17.0,24.0,0.708,...,27.0,32.2,257.0,118.0,LAL,127.0,0.0,2024.0,10/29/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70.0,240.0,39.0,86.0,0.453,16.0,44.0,0.364,16.0,20.0,0.800,...,66.7,35.7,232.0,118.0,ATL,127.0,0.0,2024.0,10/29/23,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72.0,240.0,37.0,90.0,0.411,6.0,32.0,0.188,15.0,18.0,0.833,...,40.0,32.1,162.0,108.0,DEN,128.0,0.0,2024.0,10/29/23,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80.0,240.0,40.0,87.0,0.460,6.0,17.0,0.353,26.0,31.0,0.839,...,36.4,30.6,132.0,116.0,IND,105.0,1.0,2024.0,10/30/23,True
81.0,240.0,44.0,87.0,0.506,12.0,37.0,0.324,22.0,30.0,0.733,...,41.0,29.5,144.0,126.0,MIA,114.0,0.0,2024.0,10/30/23,True
82.0,240.0,42.0,79.0,0.532,8.0,27.0,0.296,14.0,18.0,0.778,...,33.3,29.4,138.0,114.0,ORL,103.0,0.0,2024.0,10/30/23,True
83.0,240.0,47.0,84.0,0.560,9.0,28.0,0.321,7.0,17.0,0.412,...,30.6,29.4,144.0,119.0,UTA,102.0,0.0,2024.0,10/30/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87.0,240.0,42.0,84.0,0.500,23.0,47.0,0.489,18.0,24.0,0.750,...,27.3,67.2,168.0,131.0,MEM,110.0,1.0,2024.0,10/30/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89.0,240.0,48.0,86.0,0.558,14.0,30.0,0.467,17.0,18.0,0.944,...,28.6,38.1,200.0,138.0,MIN,113.0,0.0,2024.0,10/30/23,True
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102.0,240.0,38.0,86.0,0.442,13.0,34.0,0.382,20.0,25.0,0.800,...,51.5,35.3,200.0,121.0,CLE,91.0,1.0,2024.0,10/31/23,True
103.0,240.0,43.0,92.0,0.467,14.0,37.0,0.378,15.0,20.0,0.750,...,34.0,29.5,148.0,121.0,PHO,114.0,1.0,2024.0,10/31/23,True
104.0,240.0,44.0,89.0,0.494,14.0,31.0,0.452,16.0,23.0,0.696,...,50.0,59.5,218.0,123.0,ORL,102.0,0.0,2024.0,10/31/23,True

In [ ]:
odds_1023 = pd.read_excel("data/odds_2023.xlsx", index_col=0)
odds_1023 = odds_1023.dropna()
odds_1023 = odds_1023.reset_index()
odds_1023

         date team team_opp  team_ml  team_opp_ml
0  2023-10-24  LAL      DEN    158.0       -188.0
1  2023-10-24  PHO      GSW    126.0       -148.0
2  2023-10-25  CHI      OKC    124.0       -126.0
3  2023-10-25  ORL      HOU   -148.0        126.0
4  2023-10-25  UTA      SAC    106.0       -124.0
5  2023-10-25  SAS      DAL    164.0       -196.0
6  2023-10-25  BRK      CLE    106.0       -124.0
7  2023-10-25  TOR      MIN   -112.0       -104.0
8  2023-10-25  MEM      NOP   -112.0       -104.0
9  2023-10-26  LAL      PHO   -255.0        210.0
10 2023-10-26  PHI      MIL    210.0       -280.0
11 2023-10-27  POR      ORL    142.0       -168.0
12 2023-10-27  CHI      TOR   -136.0        116.0
13 2023-10-27  MEM      DEN    190.0       -230.0
14 2023-10-27  HOU      SAS    132.0       -156.0
15 2023-10-27  CLE      OKC   -134.0        114.0
16 2023-10-27  CHO      DET   -188.0        158.0
17 2023-10-28  NOP      NYK   -146.0        124.0
18 2023-10-28  MIA      MIN    290.0       -410.0
19 2023-10-28  TOR      PHI    164.0       -198.0
20 2023-10-28  CHI      DET   -142.0        120.0
21 2023-10-28  CLE      IND    150.0       -178.0
22 2023-10-29  SAC      LAL   -142.0        120.0
23 2023-10-29  MIL      ATL   -255.0        210.0
24 2023-10-29  OKC      DEN    138.0       -164.0
25 2023-10-30  CHI      IND    136.0       -162.0
26 2023-10-30  MIL      MIA   -320.0        260.0
27 2023-10-30  LAL      ORL   -164.0        138.0
28 2023-10-30  DEN      UTA   -405.0        320.0
29 2023-10-30  DAL      MEM    100.0       -118.0
30 2023-10-30  ATL      MIN    118.0       -136.0
31 2023-10-31  NYK      CLE   -120.0        102.0
32 2023-10-31  SAS      PHO    245.0       -300.0
33 2023-10-31  LAC      ORL   -260.0        215.0

## Testing on this Seasons Data and Simulating the Bet Predictions
### We will assume a standard $100 bet per game, and will not include any forms of transaction costs
### We will determine the overall performance of the model the profit/loss from betting $100 on every game this season
### using our model thus far

In [ ]:
boxscores = boxscores.sort_values("date")
boxscores = boxscores.reset_index(drop=True)
del boxscores["mp.1"]
del boxscores["mp_opp.1"]
del boxscores["index_opp"]

In [ ]:
boxscores = boxscores.groupby("team", group_keys=False).apply(add_target)

boxscores

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,41.0,90.0,0.456,10.0,29.0,0.345,15.0,20.0,0.750,13.0,...,62.4,200.0,123.0,DEN,119.0,1.0,2024.0,10/24/23,False,True
1,42.0,95.0,0.442,11.0,33.0,0.333,13.0,17.0,0.765,17.0,...,31.5,225.0,118.0,GSW,104.0,1.0,2024.0,10/24/23,True,None
2,39.0,94.0,0.415,12.0,42.0,0.286,14.0,18.0,0.778,13.0,...,26.9,242.0,116.0,OKC,124.0,0.0,2024.0,10/25/23,False,True
3,42.0,87.0,0.483,9.0,34.0,0.265,23.0,26.0,0.885,17.0,...,32.2,300.0,133.0,HOU,86.0,0.0,2024.0,10/25/23,True,None
4,41.0,91.0,0.451,9.0,28.0,0.321,23.0,31.0,0.742,16.0,...,31.1,204.0,123.0,SAC,130.0,0.0,2024.0,10/25/23,False,None
5,46.0,89.0,0.517,11.0,35.0,0.314,16.0,22.0,0.727,9.0,...,37.1,177.0,118.0,DAL,126.0,0.0,2024.0,10/25/23,False,True
6,42.0,84.0,0.500,9.0,27.0,0.333,20.0,26.0,0.769,13.0,...,26.6,200.0,125.0,CLE,114.0,0.0,2024.0,10/25/23,False,None
7,36.0,90.0,0.400,14.0,35.0,0.400,11.0,16.0,0.688,8.0,...,32.1,117.0,103.0,MIN,94.0,0.0,2024.0,10/25/23,True,False
8,38.0,91.0,0.418,12.0,43.0,0.279,16.0,20.0,0.800,8.0,...,30.2,178.0,111.0,NOP,111.0,0.0,2024.0,10/25/23,False,False
9,36.0,84.0,0.429,5.0,29.0,0.172,23.0,29.0,0.793,8.0,...,45.8,163.0,105.0,PHO,95.0,0.0,2024.0,10/26/23,True,True
10,41.0,80.0,0.513,16.0,35.0,0.457,19.0,28.0,0.679,4.0,...,39.4,156.0,121.0,MIL,118.0,1.0,2024.0,10/26/23,False,None
11,38.0,92.0,0.413,12.0,45.0,0.267,17.0,23.0,0.739,8.0,...,37.5,186.0,110.0,OKC,108.0,0.0,2024.0,10/27/23,False,False
12,52.0,100.0,0.520,8.0,32.0,0.250,10.0,20.0,0.500,11.0,...,36.5,223.0,119.0,SAS,126.0,1.0,2024.0,10/27/23,False,None
13,41.0,88.0,0.466,14.0,37.0,0.378,12.0,18.0,0.667,6.0,...,33.9,156.0,113.0,MEM,104.0,1.0,2024.0,10/27/23,True,True
14,33.0,88.0,0.375,7.0,28.0,0.250,26.0,34.0,0.765,11.0,...,33.5,171.0,98.0,DET,111.0,0.0,2024.0,10/27/23,False,None
15,37.0,99.0,0.374,8.0,39.0,0.205,22.0,28.0,0.786,15.0,...,27.0,140.0,105.0,TOR,103.0,0.0,2024.0,10/27/23,True,False
16,35.0,88.0,0.398,9.0,32.0,0.281,18.0,21.0,0.857,15.0,...,29.7,171.0,113.0,ORL,102.0,0.0,2024.0,10/27/23,False,None
17,37.0,85.0,0.435,10.0,33.0,0.303,20.0,24.0,0.833,13.0,...,31.2,134.0,113.0,DEN,108.0,0.0,2024.0,10/27/23,False,None
18,40.0,87.0,0.460,9.0,33.0,0.273,7.0,16.0,0.438,4.0,...,29.3,284.0,101.0,NYK,87.0,0.0,2024.0,10/28/23,True,None
19,35.0,87.0,0.402,12.0,38.0,0.316,8.0,14.0,0.571,9.0,...,48.4,163.0,103.0,MIN,106.0,1.0,2024.0,10/28/23,False,None
20,38.0,87.0,0.437,17.0,32.0,0.531,14.0,19.0,0.737,13.0,...,32.1,159.0,127.0,PHI,114.0,0.0,2024.0,10/28/23,False,None
21,39.0,93.0,0.419,11.0,28.0,0.393,13.0,16.0,0.813,13.0,...,31.0,181.0,120.0,DET,118.0,1.0,2024.0,10/28/23,False,True
22,43.0,99.0,0.434,12.0,31.0,0.387,15.0,24.0,0.625,18.0,...,29.5,175.0,127.0,IND,125.0,0.0,2024.0,10/28/23,False,None
23,37.0,90.0,0.411,6.0,32.0,0.188,15.0,18.0,0.833,7.0,...,32.1,162.0,108.0,DEN,128.0,0.0,2024.0,10/29/23,False,None
24,39.0,86.0,0.453,16.0,44.0,0.364,16.0,20.0,0.800,12.0,...,35.7,232.0,118.0,ATL,127.0,0.0,2024.0,10/29/23,False,True
25,49.0,104.0,0.471,17.0,48.0,0.354,17.0,24.0,0.708,6.0,...,32.2,257.0,118.0,LAL,127.0,0.0,2024.0,10/29/23,True,None
26,40.0,87.0,0.460,6.0,17.0,0.353,26.0,31.0,0.839,10.0,...,30.6,132.0,116.0,IND,105.0,1.0,2024.0,10/30/23,True,None
27,44.0,87.0,0.506,12.0,37.0,0.324,22.0,30.0,0.733,9.0,...,29.5,144.0,126.0,MIA,114.0,0.0,2024.0,10/30/23,True,None
28,42.0,79.0,0.532,8.0,27.0,0.296,14.0,18.0,0.778,3.0,...,29.4,138.0,114.0,ORL,103.0,0.0,2024.0,10/30/23,True,None
29,47.0,84.0,0.560,9.0,28.0,0.321,7.0,17.0,0.412,7.0,...,29.4,144.0,119.0,UTA,102.0,0.0,2024.0,10/30/23,True,None
30,42.0,84.0,0.500,23.0,47.0,0.489,18.0,24.0,0.750,6.0,...,67.2,168.0,131.0,MEM,110.0,1.0,2024.0,10/30/23,True,None
31,48.0,86.0,0.558,14.0,30.0,0.467,17.0,18.0,0.944,4.0,...,38.1,200.0,138.0,MIN,113.0,0.0,2024.0,10/30/23,True,None
32,43.0,92.0,0.467,14.0,37.0,0.378,15.0,20.0,0.750,8.0,...,29.5,148.0,121.0,PHO,114.0,1.0,2024.0,10/31/23,True,None
33,38.0,86.0,0.442,13.0,34.0,0.382,20.0,25.0,0.800,12.0,...,35.3,200.0,121.0,CLE,91.0,1.0,2024.0,10/31/23,True,None
34,44.0,89.0,0.494,14.0,31.0,0.452,16.0,23.0,0.696,9.0,...,59.5,218.0,123.0,ORL,102.0,0.0,2024.0,10/31/23,True,None

In [ ]:
boxscores = boxscores.dropna(subset=["target"])
boxscores["target"] = boxscores["target"].astype(int, errors="ignore")

In [ ]:
nulls = pd.isnull(boxscores).sum()
nulls = nulls[nulls > 0]
non_null_columns = boxscores.columns[~boxscores.columns.isin(nulls.index)]
non_null_columns

Index(['fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%', 'orb',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=141)

In [ ]:
boxscores = boxscores[non_null_columns].copy()
boxscores

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,41.0,90.0,0.456,10.0,29.0,0.345,15.0,20.0,0.750,13.0,...,62.4,200.0,123.0,DEN,119.0,1.0,2024.0,10/24/23,False,1
2,39.0,94.0,0.415,12.0,42.0,0.286,14.0,18.0,0.778,13.0,...,26.9,242.0,116.0,OKC,124.0,0.0,2024.0,10/25/23,False,1
5,46.0,89.0,0.517,11.0,35.0,0.314,16.0,22.0,0.727,9.0,...,37.1,177.0,118.0,DAL,126.0,0.0,2024.0,10/25/23,False,1
7,36.0,90.0,0.400,14.0,35.0,0.400,11.0,16.0,0.688,8.0,...,32.1,117.0,103.0,MIN,94.0,0.0,2024.0,10/25/23,True,0
8,38.0,91.0,0.418,12.0,43.0,0.279,16.0,20.0,0.800,8.0,...,30.2,178.0,111.0,NOP,111.0,0.0,2024.0,10/25/23,False,0
9,36.0,84.0,0.429,5.0,29.0,0.172,23.0,29.0,0.793,8.0,...,45.8,163.0,105.0,PHO,95.0,0.0,2024.0,10/26/23,True,1
11,38.0,92.0,0.413,12.0,45.0,0.267,17.0,23.0,0.739,8.0,...,37.5,186.0,110.0,OKC,108.0,0.0,2024.0,10/27/23,False,0
13,41.0,88.0,0.466,14.0,37.0,0.378,12.0,18.0,0.667,6.0,...,33.9,156.0,113.0,MEM,104.0,1.0,2024.0,10/27/23,True,1
15,37.0,99.0,0.374,8.0,39.0,0.205,22.0,28.0,0.786,15.0,...,27.0,140.0,105.0,TOR,103.0,0.0,2024.0,10/27/23,True,0
21,39.0,93.0,0.419,11.0,28.0,0.393,13.0,16.0,0.813,13.0,...,31.0,181.0,120.0,DET,118.0,1.0,2024.0,10/28/23,False,1
24,39.0,86.0,0.453,16.0,44.0,0.364,16.0,20.0,0.800,12.0,...,35.7,232.0,118.0,ATL,127.0,0.0,2024.0,10/29/23,False,1

In [ ]:
non_stat_columns = ["season", "date", "won", "target", "team", "team_opp"]
stat_columns = boxscores.columns[~boxscores.columns.isin(non_stat_columns)]

boxscores[stat_columns] = scaler.fit_transform(boxscores[stat_columns])

display(boxscores.head())
display(boxscores.tail())

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.5,0.400000,0.573427,0.454545,0.058824,0.758772,0.333333,0.307692,0.568493,0.777778,...,1.000000,0.664,1.00,DEN,0.757576,1.0,2024.0,10/24/23,False,1
2,0.3,0.666667,0.286713,0.636364,0.823529,0.500000,0.250000,0.153846,0.760274,0.777778,...,0.000000,1.000,0.65,OKC,0.909091,0.0,2024.0,10/25/23,False,1
5,1.0,0.333333,1.000000,0.545455,0.411765,0.622807,0.416667,0.461538,0.410959,0.333333,...,0.287324,0.480,0.75,DAL,0.969697,0.0,2024.0,10/25/23,False,1
7,0.0,0.400000,0.181818,0.818182,0.411765,1.000000,0.000000,0.000000,0.143836,0.222222,...,0.146479,0.000,0.00,MIN,0.000000,0.0,2024.0,10/25/23,True,0
8,0.2,0.466667,0.307692,0.636364,0.882353,0.469298,0.416667,0.307692,0.910959,0.222222,...,0.092958,0.488,0.40,NOP,0.515152,0.0,2024.0,10/25/23,False,0

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
11,0.2,0.533333,0.272727,0.636364,1.000000,0.416667,0.500000,0.538462,0.493151,0.222222,...,0.298592,0.552,0.35,OKC,0.424242,0.0,2024.0,10/27/23,False,0
13,0.5,0.266667,0.643357,0.818182,0.529412,0.903509,0.083333,0.153846,0.000000,0.000000,...,0.197183,0.312,0.50,MEM,0.303030,1.0,2024.0,10/27/23,True,1
15,0.1,1.000000,0.000000,0.272727,0.647059,0.144737,0.916667,0.923077,0.815068,1.000000,...,0.002817,0.184,0.10,TOR,0.272727,0.0,2024.0,10/27/23,True,0
21,0.3,0.600000,0.314685,0.545455,0.000000,0.969298,0.166667,0.000000,1.000000,0.777778,...,0.115493,0.512,0.85,DET,0.727273,1.0,2024.0,10/28/23,False,1
24,0.3,0.133333,0.552448,1.000000,0.941176,0.842105,0.416667,0.307692,0.910959,0.666667,...,0.247887,0.920,0.75,ATL,1.000000,0.0,2024.0,10/29/23,False,1

In [ ]:
boxscores.groupby(["home"]).apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0.0    0.333333
1.0    0.375000
dtype: float64

In [ ]:
non_stat_columns = ["season", "date", "won", "target", "team", "team_opp"]
stat_columns = boxscores.columns[~boxscores.columns.isin(non_stat_columns)]
boxscores[stat_columns] = scaler.fit_transform(boxscores[stat_columns])

boxscores

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.5,0.400000,0.573427,0.454545,0.058824,0.758772,0.333333,0.307692,0.568493,0.777778,...,1.000000,0.664,1.00,DEN,0.757576,1.0,2024.0,10/24/23,False,1
2,0.3,0.666667,0.286713,0.636364,0.823529,0.500000,0.250000,0.153846,0.760274,0.777778,...,0.000000,1.000,0.65,OKC,0.909091,0.0,2024.0,10/25/23,False,1
5,1.0,0.333333,1.000000,0.545455,0.411765,0.622807,0.416667,0.461538,0.410959,0.333333,...,0.287324,0.480,0.75,DAL,0.969697,0.0,2024.0,10/25/23,False,1
7,0.0,0.400000,0.181818,0.818182,0.411765,1.000000,0.000000,0.000000,0.143836,0.222222,...,0.146479,0.000,0.00,MIN,0.000000,0.0,2024.0,10/25/23,True,0
8,0.2,0.466667,0.307692,0.636364,0.882353,0.469298,0.416667,0.307692,0.910959,0.222222,...,0.092958,0.488,0.40,NOP,0.515152,0.0,2024.0,10/25/23,False,0
9,0.0,0.000000,0.384615,0.000000,0.058824,0.000000,1.000000,1.000000,0.863014,0.222222,...,0.532394,0.368,0.10,PHO,0.030303,0.0,2024.0,10/26/23,True,1
11,0.2,0.533333,0.272727,0.636364,1.000000,0.416667,0.500000,0.538462,0.493151,0.222222,...,0.298592,0.552,0.35,OKC,0.424242,0.0,2024.0,10/27/23,False,0
13,0.5,0.266667,0.643357,0.818182,0.529412,0.903509,0.083333,0.153846,0.000000,0.000000,...,0.197183,0.312,0.50,MEM,0.303030,1.0,2024.0,10/27/23,True,1
15,0.1,1.000000,0.000000,0.272727,0.647059,0.144737,0.916667,0.923077,0.815068,1.000000,...,0.002817,0.184,0.10,TOR,0.272727,0.0,2024.0,10/27/23,True,0
21,0.3,0.600000,0.314685,0.545455,0.000000,0.969298,0.166667,0.000000,1.000000,0.777778,...,0.115493,0.512,0.85,DET,0.727273,1.0,2024.0,10/28/23,False,1
24,0.3,0.133333,0.552448,1.000000,0.941176,0.842105,0.416667,0.307692,0.910959,0.666667,...,0.247887,0.920,0.75,ATL,1.000000,0.0,2024.0,10/29/23,False,1

In [ ]:
bs_rolling = boxscores[list(stat_columns) + ["won", "team", "season"]]

def team_averages(group):
    group[stat_columns] = group[stat_columns].rolling(10).mean()
    return group

# We will then apply this function to each team in the dataset
bs_rolling = bs_rolling.groupby(["team", "season"], group_keys=False).apply(team_averages)

bs_rolling

Empty DataFrame
Columns: [fg, fga, fg%, 3p, 3pa, 3p%, ft, fta, ft%, orb, drb, trb, ast, stl, blk, tov, pf, pts, ts%, efg%, 3par, ftr, orb%, drb%, trb%, ast%, stl%, blk%, tov%, usg%, ortg, drtg, fg_max, fga_max, fg%_max, 3p_max, 3pa_max, 3p%_max, ft_max, fta_max, ft%_max, orb_max, drb_max, trb_max, ast_max, stl_max, blk_max, tov_max, pf_max, pts_max, +/-_max, ts%_max, efg%_max, 3par_max, ftr_max, orb%_max, drb%_max, trb%_max, ast%_max, stl%_max, blk%_max, tov%_max, usg%_max, ortg_max, drtg_max, total, home, mp_opp, fg_opp, fga_opp, fg%_opp, 3p_opp, 3pa_opp, 3p%_opp, ft_opp, fta_opp, ft%_opp, orb_opp, drb_opp, trb_opp, ast_opp, stl_opp, blk_opp, tov_opp, pf_opp, pts_opp, ts%_opp, efg%_opp, 3par_opp, ftr_opp, orb%_opp, drb%_opp, trb%_opp, ast%_opp, stl%_opp, blk%_opp, tov%_opp, usg%_opp, ortg_opp, drtg_opp, ...]
Index: []

[0 rows x 138 columns]

In [ ]:
rolling_cols = [f"{col}_10" for col in bs_rolling.columns]
bs_rolling.columns = rolling_cols
boxscores = pd.concat([boxscores, bs_rolling], axis=1)

boxscores = boxscores.dropna()
boxscores = boxscores.reset_index(drop=True)

boxscores

Empty DataFrame
Columns: [fg, fga, fg%, 3p, 3pa, 3p%, ft, fta, ft%, orb, drb, trb, ast, stl, blk, tov, pf, pts, ts%, efg%, 3par, ftr, orb%, drb%, trb%, ast%, stl%, blk%, tov%, usg%, ortg, drtg, fg_max, fga_max, fg%_max, 3p_max, 3pa_max, 3p%_max, ft_max, fta_max, ft%_max, orb_max, drb_max, trb_max, ast_max, stl_max, blk_max, tov_max, pf_max, pts_max, +/-_max, ts%_max, efg%_max, 3par_max, ftr_max, orb%_max, drb%_max, trb%_max, ast%_max, stl%_max, blk%_max, tov%_max, usg%_max, ortg_max, drtg_max, team, total, home, mp_opp, fg_opp, fga_opp, fg%_opp, 3p_opp, 3pa_opp, 3p%_opp, ft_opp, fta_opp, ft%_opp, orb_opp, drb_opp, trb_opp, ast_opp, stl_opp, blk_opp, tov_opp, pf_opp, pts_opp, ts%_opp, efg%_opp, 3par_opp, ftr_opp, orb%_opp, drb%_opp, trb%_opp, ast%_opp, stl%_opp, blk%_opp, tov%_opp, usg%_opp, ortg_opp, ...]
Index: []

[0 rows x 279 columns]